* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    text-align: center;
    background-color: #22252C;
}

.hidden {
    display: none;
}

.show {
    display: grid;
}

.imgs-container img {
    margin: 0.3em;
    width: 16vw;
    border-radius: 40px;
    box-shadow: 0px 20px 8px 4px #0000001a;
    transition: box-shadow 500ms;
}

.imgs-container img:hover {
    box-shadow: 0px 0px 6px 14px #dfdd71;
}

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header {
    grid-row: 1;
    grid-column: span 3;
    display: grid;
    grid-template-areas: "logo nav";
    background-color: lightblue;
    border-radius: 50px;
    justify-items: center;
    align-items: center;
    background-image: linear-gradient(to right, #129EAC, #2CB77A)
}

.logo {
    grid-area: logo;
    font-size: 2em;
    color: white;
    user-select: none;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    opacity: 1;
}

.header-btns {
    border: none;
    background-color: transparent;
    font-size: 1.5em;

    justify-content: space-evenly;
    color: white;
    transition: background-color 300ms;
}

.header-btns:hover {
    color: black;
    background-color: #0000001a;
    border-radius: 20px 1px 20px 1px;
}

.main-nav-bar {
    grid-area: nav;
    display: flex;
    /* display: inline-flex; */
}

.main-header .btn-toggle-menu {
    background-color: inherit;
    border: 0;
    cursor: pointer;
}

.main-header .btn-toggle-menu .hamburger-lines {
    height: 26px;
    width: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-header .btn-toggle-menu .hamburger-lines .line {
    height: 4px;
    width: 100%;
    background-color: aliceblue;
    transition: 0.4s;
}

body.menu-open .btn-toggle-menu .hamburger-lines .line.line1 {
    rotate: -45deg;
    transform-origin: right top;
}

body.menu-open .btn-toggle-menu .hamburger-lines .line.line2 {
    scale: 0;
}

body.menu-open .btn-toggle-menu .hamburger-lines .line.line3 {
    rotate: 45deg;
    transform-origin: right bottom;
}

.btn-toggle-menu {
    display: none;
}

.canvas-container {
    grid-column: 2;
    border-radius: 15px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

canvas {
    border: 1px solid black;
    border-radius: 15px;
    width: 100%;
}

.btns-canvas-container {
    display: grid;

    width: 100%;
    margin-top: 3rem;

    /* height: fit-content; */
    grid-template-columns: minmax(10px, 1fr) minmax(200px, 3fr)minmax(10px, 1fr)minmax(200px, 3fr)minmax(10px, 1fr);

    align-items: center;
    justify-items: center;
}

.editor-btns button {
    border-radius: 15px;
    cursor: pointer;
}

.editor-btns {
    grid-column: 4;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
    padding: 2em;
    gap: 1em;
    border-radius: 30px;
    text-align: center;
    background-color: #d3d3d336;
}

.font-down {
    grid-column: 2;
    grid-row: 3;
    background-color: white;
    border: 1px solid black;
}

.switch-line {
    grid-column: 2;
    grid-row: 2;
    font-size: 1em;
    margin: 0;
    padding: 0;
    background: lightskyblue;
}

.add-line {
    grid-column: 3;
    grid-row: 2;
    background-color: green;
    color: white;
}

.font-up {
    grid-column: 1;
    grid-row: 3;
    background-color: white;
    border: 1px solid black;
}

.font-color {
    grid-column: 4;
    grid-row: 4;
    background-color: white;
    margin: auto;
    height: 4em;
    border-radius: 15px;
    cursor: pointer;
}

.download-container {
    grid-column: 4/6;
    grid-row: 6;
    align-self: center;
    color: white;

}

.download-btn {
    text-decoration: none;
    color: white;
    padding: 1em 3em;
    background-color: blueviolet;
    border-radius: 15px;

}

.upload-btn {
    grid-column: 1/3;
    grid-row: 6;

    background-color: blue;
    color: white;
   

}

.txt-input {
    grid-column: 1/ -1;
    grid-row: 1;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
    padding: 1em;
    font-size: 1em;
}

.font-center {
    grid-column: 4;
    grid-row: 3;
    height: 4em;
}

.font-right {
    grid-column: 5;
    grid-row: 3;
    height: 4em;
}

.font-left {
    grid-column: 3;
    grid-row: 3;
    height: 4em;
}

.trash-line {
    grid-column: 4;
    grid-row: 2;
    height: 4em;
}

.font-choose {
    grid-column: 1/4;
    grid-row: 4/5;
    text-align: center;
    font-size: 1em;
    height: 3em;
    border-radius: 30px;
    cursor: pointer;
}

.up-arrow {
    grid-column: 4;
    grid-row: 5;
    font-size: 2em;
}

.down-arrow {
    grid-column: 2;
    grid-row: 5;
    font-size: 2em;
}

.right-arrow {
    grid-column: 5;
    grid-row: 5;
    font-size: 2em;
}

.left-arrow {
    grid-column: 1;
    grid-row: 5;
    font-size: 2em;
}



@media (width<=900px) {

    body {
        margin: 0 auto;
    }

    .gallery-container {
        background-color: #383B42;
        border-radius: 20px;
        width: 95%;
        margin-left: 10px;
    }

    .imgs-container img {
        margin: 0.3em;
        width: 44vw;
        border-radius: 40px;
        box-shadow: 0px 20px 8px 4px #0000001a;
        transition: box-shadow 500ms;
    }

    .logo {
        font-size: 1.4em;
    }

    .main-nav-bar {
        font-size: 0.9em;
        margin-right: 0.5em;

    }

    .main-header {
        height: 75px;
        align-content: center;
        border-radius: 0;
        width: 100%;
        margin-bottom: 2em;
    }

    /* .main-nav-bar .dropdown-content {
        display: none;
        position: absolute;
        flex-direction: column;
        translate: -174px 87px;
        scale: 2;
        background-color: #22252cd7;
        padding: 0px 36px;
        border-radius: 5px;
    }

    .btn-toggle-menu {
        display: inline-block;
    } */

    .btns-canvas-container {
        display: flex;
        flex-direction: column;
    }

    .editor-btns {
        grid-column: 4;
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(5, 1fr);

        gap: 1em;

        text-align: center;
        background-color: #d3d3d336;
        border-radius: 15px;
    }

    .canvas-container {
        height: 300px;
        width: 300px;
    }
}