.font-down {
    grid-column: 2;
    background-color: var(--clrPrimary-4);
    border: 1px solid var(--clrPrimary4);
}

.switch-line {
    grid-column: 2;
    grid-row: 2;
    font-size: 1em;
    margin: 0;
    padding: 0;
    background-color: var(--clrPrimary-1);
}

.add-line {
    grid-column: 3;
    grid-row: 2;
    background-color: green;
    color: var(--clrPrimary-4);
}

.font-up {
    grid-column: 1;
    background-color: var(--clrPrimary-4);
    border: 1px solid var(--clrPrimary4);
}

.font-color {
    grid-column: 4;
    grid-row: 4;
    font-size: 2.3em;
    background-color: var(--clrPrimary-4);
    margin: auto;
    cursor: pointer;
}

.pos {
    z-index: -1;
    opacity: 0;
    font-size: 0em;
}

.download-container {
    grid-column: 4/6;
    grid-row: 6;
    align-self: center;
    color: var(--clrPrimary-4);

}

.download-btn {
    text-decoration: none;
    color: var(--clrPrimary-4);
    padding: 1em 2em;
    background-color: blueviolet;
}

.upload-btn {
    grid-column: 1/3;
    grid-row: 6;
    background-color: #0000ff;
}

.txt-input {
    grid-column: 1/ -1;
    grid-row: 1;
    border-radius: 50px;

    justify-content: center;
    padding: 1em;
    font-size: 1em;
}

.font-center {
    grid-column: 4;
}

.font-right {
    grid-column: 5;
}

.font-left {
    grid-column: 3;
}

.trash-line {
    grid-column: 4;
    grid-row: 2;
    background-color: red;
}

.font-choose {
    grid-column: 1/4;
    grid-row: 4/5;
    font-size: 1em;
    height: 3em;
    border-radius: 30px;
    cursor: pointer;
}

.up-arrow {
    grid-column: 4;
    background-color: var(--clrPrimary);
    padding-bottom: 4px;
}

.down-arrow {
    grid-column: 2;
    background-color: var(--clrPrimary);
}

.right-arrow {
    grid-column: 5;
    background-color: var(--clrPrimary);
}

.left-arrow {
    grid-column: 1;
    background-color: var(--clrPrimary);
    padding-bottom: 4px;
}

.save-img {
    grid-row: 5;
    grid-column: 3;
}