@media (width<=900px) {

    body {
        margin: 0 auto;
    }

    .gallery-container {
        background-color: var(--clrPrimary2);
        border-radius: 20px;
        width: 95%;
        margin: 0 auto;
    }

    .imgs-container img {
        margin: 0.3em;
        width: 44vw;
        border-radius: 40px;
        box-shadow: 0px 20px 8px 4px #0000001a;
        transition: box-shadow 500ms;
    }

    .logo {
        font-size: 1.4em;
    }

    .main-nav-bar {
        font-size: 0.9em;
        margin-right: 0.5em;
    }

    .main-header {
        height: 75px;
        align-content: center;
        border-radius: 0;
        width: 100%;
        margin-bottom: 2em;
    }

    /* .main-nav-bar .dropdown-content {
        display: none;
        position: absolute;
        flex-direction: column;
        translate: -174px 87px;
        scale: 2;
        background-color: #22252cd7;
        padding: 0px 36px;
        border-radius: 5px;
    }

    .btn-toggle-menu {
        display: inline-block;
    } */

    .btns-canvas-container {
        display: flex;
        flex-direction: column;
    }

    .editor-btns {
        grid-column: 4;
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(5, 1fr);

        gap: 1em;

        text-align: center;
        background-color: #d3d3d336;
        border-radius: 15px;
    }

    .canvas-container {
        height: 300px;
        width: 300px;
    }
}