@media (width<=900px) {

    body {
        margin: 0 auto;
    }

    .gallery-container {
        background-color: var(--clrPrimary2);
        border-radius: 20px;
        width: 95%;
        margin: 0 auto;
    }

    .imgs-container img {
        margin: 0.3em;
        width: 44vw;
        border-radius: 40px;
        box-shadow: 0px 20px 8px 4px #0000001a;
        transition: box-shadow 500ms;
    }

    .logo {
        font-size: 1.2em;
    }

    .main-nav-bar {
        font-size: 0.9em;
        margin-right: 0.5em;
    }

    .main-header {
        height: 75px;
        align-content: center;
        border-radius: 0;
        width: 100%;
        margin-bottom: 2em;
    }

    .file-input {
        flex-basis: 15%;
    }

    .btns-canvas-container {
        display: flex;
        flex-direction: column;
    }

    .editor-btns {
        grid-column: 4;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1px 1fr 1fr 1fr 1fr 1fr;
        gap: 1em;
        height: 410px;
        text-align: center;
        background-color: var(--clrPrimary3);
        border-radius: 15px;
        padding: 0px;
    }

    .canvas-container {
        height: 300px;
        width: 300px;
    }

    .add-line {
        grid-row: 3;
    }

    .switch-line {
        grid-row: 3;
        grid-column: 4;
    }

    .trash-line {
        grid-column: 5;
        grid-row: 3;
        height: 5em;
    }

    .txt-input {
        grid-row: 2;
        height: 3em;
        padding: 0px;

    }

    .font-right,
    .font-left,
    .font-center {
        display: none;
    }

    .upload-btn {
        height: 50px;
        align-self: center;
    }

    .font-choose {
        align-self: center;
    }
}