:root {
    --clrPrimary4: #000000;
    --clrPrimary3: #0000001a;
    --clrPrimary2: #383B42;
    --clrPrimary1: #d3d3d336;
    --clrPrimary: ;
    --clrPrimary-1: #87cefa;
    --clrPrimary-2: #add8e6;
    --clrPrimary-3: #dfdd71;
    --clrPrimary-4: #ffffff;
    --clrPrimary-5: #f0f8ff;
}